  table {
    border-collapse: collapse;
    width: 100%;
    background-color: blue;
    color:aliceblue;
  }

  /* th {
    text-align: right;
    padding: .4em;
  }
 
  tr td:first-child {
    text-align: left;
    width: 90%;
    /* Force description column to take more space */
  /*}

  tfoot tr td {
    font-weight: bold;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
  } */
  